@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(235, 192, 136);
    min-height: 100vh;
    min-width: 100%;
}

.container {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    max-width: 450px;
    width: 100%;
}

form {
    padding: 5vh;
}

header {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

input {
    height: 60px;
    width: 100%;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    padding: 0 15px;
}

#word {
    margin-bottom: 1.8rem;
}

#btn {
    background-color: rgb(245, 149, 24);
    color: #fff;
    border: none;
    margin-bottom: .5rem;
    transition: 0.4s;
}

#btn:hover {
    background-color: rgb(224, 127, 0);
}

#repeat {
    margin: 1.3rem;
}